<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC1P9T1mJHJJPpqvn5Lq1aJz1HjCCOjU2U</string>
	<key>GCM_SENDER_ID</key>
	<string>988416876830</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.linkdev.kutbi</string>
	<key>PROJECT_ID</key>
	<string>kutbi-store</string>
	<key>STORAGE_BUCKET</key>
	<string>kutbi-store.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:988416876830:ios:824da171d0a3de92eae90f</string>
</dict>
</plist>